body {
  margin: 0px;
  background-color: #f1f9f9;
  text-align: center;
  font-family: 'Dosis', serif;
}

h1 {
  font-size: 5rem;
  font-family: 'Sacramento', sans-serif width: 10% margin: 0 auto;
}

.moto {
  font-size: 2rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

div {
  background-color: #f1f9f9;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
.header {
  padding-top: 100px
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.profile-1 {
  width: 45%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-1 {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.skill-2 {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px bottom 300px
}

.top-cloud {
  position: absolute;
  right: 300px top: 40px;
}

.main-hr {
  margin-top: 115px;
}

hr {
  border: dotted #0f4c81 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Sacramento', sans-serif
	font-size:20px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn {
	position:relative;
	top:1px;
}
